<a href="https://colab.research.google.com/github/dishantgupta2004/Python_and_DSA_Notes_and_assignments/blob/main/20thAug_2023_StringBasedPracticeAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
Python solutions for String-Based Practice Questions (1 - 50)
"""
# 1. Write a program to reverse a string.
def reverse_string(string):
    return string[::-1]
print("1. Reverse string 'Hello World':", reverse_string("Hello World"))

1. Reverse string 'Hello World': dlroW olleH

In [2]:
# 2. Check if a string is a palindrome.
def is_palindrome(string):
    # Convert to lowercase and remove spaces for better comparison
    clean_string = ''.join(string.lower().split())
    return clean_string == clean_string[::-1]

print("2. Is 'racecar' a palindrome?", is_palindrome("racecar"))
print("   Is 'hello' a palindrome?", is_palindrome("hello"))
print("   Is 'A man a plan a canal Panama' a palindrome?", is_palindrome("A man a plan a canal Panama"))

2. Is 'racecar' a palindrome? True
   Is 'hello' a palindrome? False
   Is 'A man a plan a canal Panama' a palindrome? True

In [3]:
# 3. Convert a string to uppercase.
def to_uppercase(string):
    return string.upper()
print("3. 'hello world' in uppercase:", to_uppercase("hello world"))

3. 'hello world' in uppercase: HELLO WORLD

In [6]:
# 4. Convert a string to lowercase.
def to_lowercase(string):
    return string.lower()

print("4. 'HELLO WORLD' in lowercase:", to_lowercase("HELLO WORLD"))

4. 'HELLO WORLD' in lowercase: hello world

In [7]:
# 5. Count the number of vowels in a string.
def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count

print("5. Number of vowels in 'Hello World':", count_vowels("Hello World"))

5. Number of vowels in 'Hello World': 3

In [8]:
# 6. Count the number of consonants in a string.
def count_consonants(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char.isalpha() and char not in vowels:
            count += 1
    return count

# Test
print("6. Number of consonants in 'Hello World':", count_consonants("Hello World"))

6. Number of consonants in 'Hello World': 7

In [9]:

# 7. Remove all whitespaces from a string.
def remove_whitespace(string):
    return ''.join(string.split())

# Test
print("7. 'Hello World' without whitespace:", remove_whitespace("Hello World"))


# 8. Find the length of a string without using the `len()` function.
def string_length(string):
    count = 0
    for _ in string:
        count += 1
    return count

# Test
print("8. Length of 'Hello World' without len():", string_length("Hello World"))

7. 'Hello World' without whitespace: HelloWorld
8. Length of 'Hello World' without len(): 11

In [10]:

# 9. Check if a string contains a specific word.
def contains_word(string, word):
    return word in string.lower().split()

# Test
print("9. Does 'Hello World' contain 'world'?", contains_word("Hello World", "world"))
print("   Does 'Hello World' contain 'python'?", contains_word("Hello World", "python"))

9. Does 'Hello World' contain 'world'? True
   Does 'Hello World' contain 'python'? False

In [11]:

# 10. Replace a word in a string with another word.
def replace_word(string, old_word, new_word):
    return string.replace(old_word, new_word)

# Test
print("10. Replace 'World' with 'Python' in 'Hello World':", replace_word("Hello World", "World", "Python"))

10. Replace 'World' with 'Python' in 'Hello World': Hello Python

In [12]:
# 11. Count the occurrences of a word in a string.
def count_word_occurrences(string, word):
    return string.lower().split().count(word.lower())

# Test
print("11. Count occurrences of 'world' in 'Hello world world':", count_word_occurrences("Hello world world", "world"))

11. Count occurrences of 'world' in 'Hello world world': 2

In [13]:
# 12. Find the first occurrence of a word in a string.
def find_first_occurrence(string, word):
    words = string.split()
    for i, w in enumerate(words):
        if w.lower() == word.lower():
            return i
    return -1

# Test
print("12. First occurrence of 'world' in 'Hello world, welcome to the world':",
      find_first_occurrence("Hello world, welcome to the world", "world"))

12. First occurrence of 'world' in 'Hello world, welcome to the world': 5

In [14]:

# 13. Find the last occurrence of a word in a string.
def find_last_occurrence(string, word):
    words = string.split()
    for i in range(len(words)-1, -1, -1):
        if words[i].lower() == word.lower():
            return i
    return -1

# Test
print("13. Last occurrence of 'world' in 'Hello world, welcome to the world':",
      find_last_occurrence("Hello world, welcome to the world", "world"))

13. Last occurrence of 'world' in 'Hello world, welcome to the world': 5

In [15]:

# 14. Split a string into a list of words.
def split_to_words(string):
    return string.split()

# Test
print("14. Split 'Hello world, how are you?' into words:", split_to_words("Hello world, how are you?"))

14. Split 'Hello world, how are you?' into words: ['Hello', 'world,', 'how', 'are', 'you?']

In [16]:
# 15. Join a list of words into a string.
def join_words(words, separator=" "):
    return separator.join(words)

# Test
words_list = ["Hello", "world", "how", "are", "you?"]
print("15. Join words list with space:", join_words(words_list))
print("    Join words list with hyphen:", join_words(words_list, "-"))

15. Join words list with space: Hello world how are you?
    Join words list with hyphen: Hello-world-how-are-you?

In [17]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.
def spaces_to_underscores(string):
    return string.replace(" ", "_")

# Test
print("16. 'Hello World' with underscores:", spaces_to_underscores("Hello World"))

16. 'Hello World' with underscores: Hello_World

In [18]:
# 17. Check if a string starts with a specific word or phrase.
def starts_with(string, prefix):
    return string.startswith(prefix)

# Test
print("17. Does 'Hello World' start with 'Hello'?", starts_with("Hello World", "Hello"))
print("    Does 'Hello World' start with 'World'?", starts_with("Hello World", "World"))

17. Does 'Hello World' start with 'Hello'? True
    Does 'Hello World' start with 'World'? False

In [19]:
# 18. Check if a string ends with a specific word or phrase.
def ends_with(string, suffix):
    return string.endswith(suffix)

# Test
print("18. Does 'Hello World' end with 'World'?", ends_with("Hello World", "World"))
print("    Does 'Hello World' end with 'Hello'?", ends_with("Hello World", "Hello"))

18. Does 'Hello World' end with 'World'? True
    Does 'Hello World' end with 'Hello'? False

In [20]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").
def to_title_case(string):
    return string.title()

# Test
print("19. 'hello world' in title case:", to_title_case("hello world"))

19. 'hello world' in title case: Hello World

In [21]:
# 20. Find the longest word in a string.
def find_longest_word(string):
    words = string.split()
    longest_word = ""
    for word in words:
        if len(word) > len(longest_word):
            longest_word = word
    return longest_word

# Test
print("20. Longest word in 'The quick brown fox jumps over the lazy dog':",
      find_longest_word("The quick brown fox jumps over the lazy dog"))

20. Longest word in 'The quick brown fox jumps over the lazy dog': quick

In [22]:
# 21. Find the shortest word in a string.
def find_shortest_word(string):
    words = string.split()
    if not words:
        return ""

    shortest_word = words[0]
    for word in words:
        if len(word) < len(shortest_word):
            shortest_word = word
    return shortest_word

# Test
print("21. Shortest word in 'The quick brown fox jumps over the lazy dog':",
      find_shortest_word("The quick brown fox jumps over the lazy dog"))

21. Shortest word in 'The quick brown fox jumps over the lazy dog': The

In [23]:
# 22. Reverse the order of words in a string.
def reverse_words_order(string):
    words = string.split()
    reversed_words = words[::-1]
    return ' '.join(reversed_words)

# Test
print("22. Reverse order of words in 'Hello World Python':",
      reverse_words_order("Hello World Python"))

22. Reverse order of words in 'Hello World Python': Python World Hello

In [24]:

# 23. Check if a string is alphanumeric.
def is_alphanumeric(string):
    return string.isalnum()

# Test
print("23. Is 'Hello123' alphanumeric?", is_alphanumeric("Hello123"))
print("    Is 'Hello 123' alphanumeric?", is_alphanumeric("Hello 123"))

23. Is 'Hello123' alphanumeric? True
    Is 'Hello 123' alphanumeric? False

In [25]:

# 24. Extract all digits from a string.
def extract_digits(string):
    return ''.join(char for char in string if char.isdigit())

# Test
print("24. Extract digits from 'Hello123World456':", extract_digits("Hello123World456"))

24. Extract digits from 'Hello123World456': 123456

In [26]:
# 25. Extract all alphabets from a string.
def extract_alphabets(string):
    return ''.join(char for char in string if char.isalpha())

# Test
print("25. Extract alphabets from 'Hello123World456':", extract_alphabets("Hello123World456"))

25. Extract alphabets from 'Hello123World456': HelloWorld

In [27]:
# 26. Count the number of uppercase letters in a string.
def count_uppercase(string):
    return sum(1 for char in string if char.isupper())

# Test
print("26. Number of uppercase letters in 'Hello World':", count_uppercase("Hello World"))

26. Number of uppercase letters in 'Hello World': 2

In [28]:
# 27. Count the number of lowercase letters in a string.
def count_lowercase(string):
    return sum(1 for char in string if char.islower())

# Test
print("27. Number of lowercase letters in 'Hello World':", count_lowercase("Hello World"))

27. Number of lowercase letters in 'Hello World': 8

In [29]:
# 28. Swap the case of each character in a string.
def swap_case(string):
    return string.swapcase()

# Test
print("28. Swap case of 'Hello World':", swap_case("Hello World"))

28. Swap case of 'Hello World': hELLO wORLD

In [30]:
# 29. Remove a specific word from a string.
def remove_word(string, word):
    words = string.split()
    return ' '.join(w for w in words if w.lower() != word.lower())

# Test
print("29. Remove 'World' from 'Hello World Python':",
      remove_word("Hello World Python", "World"))

29. Remove 'World' from 'Hello World Python': Hello Python

In [31]:
# 30. Check if a string is a valid email address.
def is_valid_email(email):
    import re
    # Basic email validation pattern
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return bool(re.match(pattern, email))

# Test
print("30. Is 'test@example.com' a valid email?", is_valid_email("test@example.com"))
print("    Is 'invalid-email' a valid email?", is_valid_email("invalid-email"))

30. Is 'test@example.com' a valid email? True
    Is 'invalid-email' a valid email? False

In [32]:
# 31. Extract the username from an email address string.
def extract_username(email):
    if '@' in email:
        return email.split('@')[0]
    return ""

# Test
print("31. Username from 'test@example.com':", extract_username("test@example.com"))

31. Username from 'test@example.com': test

In [33]:

# 32. Extract the domain name from an email address string.
def extract_domain(email):
    if '@' in email:
        return email.split('@')[1]
    return ""

# Test
print("32. Domain from 'test@example.com':", extract_domain("test@example.com"))

32. Domain from 'test@example.com': example.com

In [34]:
# 33. Replace multiple spaces in a string with a single space.
def normalize_spaces(string):
    import re
    return re.sub(r'\s+', ' ', string).strip()

# Test
print("33. Normalize spaces in '  Hello    World  ':", normalize_spaces("  Hello    World  "))

33. Normalize spaces in '  Hello    World  ': Hello World

In [35]:
# 34. Check if a string is a valid URL.
def is_valid_url(url):
    import re
    # Basic URL validation pattern
    pattern = r'^(http|https)://[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}(/.*)?$'
    return bool(re.match(pattern, url))

# Test
print("34. Is 'https://example.com' a valid URL?", is_valid_url("https://example.com"))
print("    Is 'invalid-url' a valid URL?", is_valid_url("invalid-url"))

34. Is 'https://example.com' a valid URL? True
    Is 'invalid-url' a valid URL? False

In [36]:
# 35. Extract the protocol (http or https) from a URL string.
def extract_protocol(url):
    if '://' in url:
        return url.split('://')[0]
    return ""

# Test
print("35. Protocol from 'https://example.com':", extract_protocol("https://example.com"))

35. Protocol from 'https://example.com': https

In [37]:
# 36. Find the frequency of each character in a string.
def character_frequency(string):
    freq = {}
    for char in string:
        if char in freq:
            freq[char] += 1
        else:
            freq[char] = 1
    return freq

# Test
print("36. Character frequency in 'hello':", character_frequency("hello"))

36. Character frequency in 'hello': {'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [38]:
# 37. Remove all punctuation from a string.
def remove_punctuation(string):
    import string as str_module
    translator = str.maketrans('', '', str_module.punctuation)
    return string.translate(translator)

# Test
print("37. Remove punctuation from 'Hello, World!':", remove_punctuation("Hello, World!"))

37. Remove punctuation from 'Hello, World!': Hello World

In [39]:

# 38. Check if a string contains only digits.
def contains_only_digits(string):
    return string.isdigit()

# Test
print("38. Does '12345' contain only digits?", contains_only_digits("12345"))
print("    Does '123abc' contain only digits?", contains_only_digits("123abc"))

38. Does '12345' contain only digits? True
    Does '123abc' contain only digits? False

In [40]:

# 39. Check if a string contains only alphabets.
def contains_only_alphabets(string):
    return string.isalpha()

# Test
print("39. Does 'HelloWorld' contain only alphabets?", contains_only_alphabets("HelloWorld"))
print("    Does 'Hello123' contain only alphabets?", contains_only_alphabets("Hello123"))

39. Does 'HelloWorld' contain only alphabets? True
    Does 'Hello123' contain only alphabets? False

In [41]:
# 40. Convert a string to a list of characters.
def string_to_chars(string):
    return list(string)

# Test
print("40. Convert 'hello' to list of characters:", string_to_chars("hello"))

40. Convert 'hello' to list of characters: ['h', 'e', 'l', 'l', 'o']

In [42]:

# 41. Check if two strings are anagrams.
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase
    str1 = str1.lower().replace(" ", "")
    str2 = str2.lower().replace(" ", "")

    # Check if the sorted strings are equal
    return sorted(str1) == sorted(str2)

# Test
print("41. Are 'listen' and 'silent' anagrams?", are_anagrams("listen", "silent"))
print("    Are 'hello' and 'world' anagrams?", are_anagrams("hello", "world"))

41. Are 'listen' and 'silent' anagrams? True
    Are 'hello' and 'world' anagrams? False

In [43]:
# 42. Encode a string using a Caesar cipher.
def caesar_cipher_encode(string, shift):
    result = ""
    for char in string:
        if char.isalpha():
            ascii_offset = ord('A') if char.isupper() else ord('a')
            encoded_char = chr((ord(char) - ascii_offset + shift) % 26 + ascii_offset)
            result += encoded_char
        else:
            result += char
    return result

# Test
print("42. Encode 'Hello' with Caesar cipher (shift=3):", caesar_cipher_encode("Hello", 3))

42. Encode 'Hello' with Caesar cipher (shift=3): Khoor

In [44]:
# 43. Decode a Caesar cipher encoded string.
def caesar_cipher_decode(encoded_string, shift):
    return caesar_cipher_encode(encoded_string, -shift)

# Test
encoded = caesar_cipher_encode("Hello", 3)
print("43. Decode Caesar cipher:", encoded, "->", caesar_cipher_decode(encoded, 3))

43. Decode Caesar cipher: Khoor -> Hello

In [45]:
# 44. Find the most frequent word in a string.
def most_frequent_word(string):
    import re
    words = re.findall(r'\b\w+\b', string.lower())
    if not words:
        return None

    word_counts = {}
    for word in words:
        word_counts[word] = word_counts.get(word, 0) + 1

    return max(word_counts.items(), key=lambda x: x[1])[0]

# Test
print("44. Most frequent word in 'the quick brown fox jumps over the lazy dog':",
      most_frequent_word("the quick brown fox jumps over the lazy dog"))

44. Most frequent word in 'the quick brown fox jumps over the lazy dog': the

In [46]:

# 45. Find all unique words in a string.
def unique_words(string):
    import re
    words = re.findall(r'\b\w+\b', string.lower())
    return list(set(words))

# Test
print("45. Unique words in 'the quick brown fox jumps over the lazy dog':",
      unique_words("the quick brown fox jumps over the lazy dog"))

45. Unique words in 'the quick brown fox jumps over the lazy dog': ['lazy', 'jumps', 'dog', 'the', 'brown', 'fox', 'quick', 'over']

In [47]:
# 46. Count the number of syllables in a string (simplified approach).
def count_syllables(string):
    # This is a simplified approach that counts vowel groups
    import re
    # Convert to lowercase
    string = string.lower()
    # Count vowel groups (a vowel or consecutive vowels)
    vowel_groups = re.findall(r'[aeiouy]+', string)
    # Handle specific cases like silent 'e' at the end of words
    words = string.split()
    silent_e_count = sum(1 for word in words if len(word) > 2 and word.endswith('e')
                         and word[-2] not in 'aeiouy')
    return len(vowel_groups) - silent_e_count

# Test
print("46. Approximate syllables in 'beautiful':", count_syllables("beautiful"))
print("    Approximate syllables in 'complicated':", count_syllables("complicated"))

46. Approximate syllables in 'beautiful': 3
    Approximate syllables in 'complicated': 4

In [48]:
# 47. Check if a string contains any special characters.
def contains_special_chars(string):
    import re
    # Check for any character that is not alphanumeric or whitespace
    return bool(re.search(r'[^a-zA-Z0-9\s]', string))

# Test
print("47. Does 'Hello!' contain special characters?", contains_special_chars("Hello!"))
print("    Does 'HelloWorld' contain special characters?", contains_special_chars("HelloWorld"))

47. Does 'Hello!' contain special characters? True
    Does 'HelloWorld' contain special characters? False

In [49]:

# 48. Remove the nth word from a string.
def remove_nth_word(string, n):
    words = string.split()
    if 0 <= n < len(words):
        words.pop(n)
    return ' '.join(words)

# Test
print("48. Remove the 2nd word from 'The quick brown fox':", remove_nth_word("The quick brown fox", 1))

48. Remove the 2nd word from 'The quick brown fox': The brown fox

In [50]:

# 49. Insert a word at the nth position in a string.
def insert_word_at_position(string, word, n):
    words = string.split()
    if 0 <= n <= len(words):
        words.insert(n, word)
    return ' '.join(words)

# Test
print("49. Insert 'very' at position 1 in 'The quick brown fox':",
      insert_word_at_position("The quick brown fox", "very", 1))

49. Insert 'very' at position 1 in 'The quick brown fox': The very quick brown fox

In [51]:
# 50. Convert a CSV string to a list of lists.
def csv_to_list(csv_string):
    lines = csv_string.strip().split('\n')
    return [line.split(',') for line in lines]

# Test
csv_data = "name,age,city\nJohn,25,New York\nJane,30,Boston"
print("50. Convert CSV string to list of lists:")
for row in csv_to_list(csv_data):
    print("   ", row)

50. Convert CSV string to list of lists:
    ['name', 'age', 'city']
    ['John', '25', 'New York']
    ['Jane', '30', 'Boston']

# **List Based Practice Problems (1 - 50 )**

In [52]:

# 1. Create a list with integers from 1 to 10.
def create_list_1_to_10():
    return list(range(1, 11))

# Test
print("\n1. List with integers from 1 to 10:", create_list_1_to_10())

1. List with integers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
# 2. Find the length of a list without using the `len()` function.
def list_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

# Test
print("2. Length of [1, 2, 3, 4, 5] without len():", list_length([1, 2, 3, 4, 5]))

2. Length of [1, 2, 3, 4, 5] without len(): 5

In [54]:

# 3. Append an element to the end of a list.
def append_to_list(lst, element):
    lst.append(element)
    return lst

# Test
print("3. Append 6 to [1, 2, 3, 4, 5]:", append_to_list([1, 2, 3, 4, 5], 6))

3. Append 6 to [1, 2, 3, 4, 5]: [1, 2, 3, 4, 5, 6]

In [56]:
# 4. Insert an element at a specific index in a list.
def insert_at_index(lst, index, element):
    lst.insert(index, element)
    return lst

# Test
print("4. Insert 10 at index 2 in [1, 2, 3, 4, 5]:", insert_at_index([1, 2, 3, 4, 'This line is incorrect', 'it should be 5'], 2, 10))

4. Insert 10 at index 2 in [1, 2, 3, 4, 5]: [1, 2, 10, 3, 4, 'This line is incorrect', 'it should be 5']

In [57]:
# 5. Remove an element from a list by its value.
def remove_by_value(lst, value):
    if value in lst:
        lst.remove(value)
    return lst

# Test
print("5. Remove 3 from [1, 2, 3, 4, 5]:", remove_by_value([1, 2, 3, 4, 5], 3))

5. Remove 3 from [1, 2, 3, 4, 5]: [1, 2, 4, 5]

In [58]:
# 6. Remove an element from a list by its index.
def remove_by_index(lst, index):
    if 0 <= index < len(lst):
        lst.pop(index)
    return lst

# Test
print("6. Remove element at index 2 from [1, 2, 3, 4, 5]:", remove_by_index([1, 2, 3, 4, 5], 2))

6. Remove element at index 2 from [1, 2, 3, 4, 5]: [1, 2, 4, 5]

In [59]:
# 7. Check if an element exists in a list.
def element_exists(lst, element):
    return element in lst

# Test
print("7. Does 3 exist in [1, 2, 3, 4, 5]?", element_exists([1, 2, 3, 4, 5], 3))
print("   Does 10 exist in [1, 2, 3, 4, 5]?", element_exists([1, 2, 3, 4, 5], 10))

7. Does 3 exist in [1, 2, 3, 4, 5]? True
   Does 10 exist in [1, 2, 3, 4, 5]? False

In [60]:
# 8. Find the index of the first occurrence of an element in a list.
def find_first_occurrence_in_list(lst, element):
    try:
        return lst.index(element)
    except ValueError:
        return -1

# Test
print("8. Index of first occurrence of 3 in [1, 2, 3, 4, 3, 5]:",
      find_first_occurrence_in_list([1, 2, 3, 4, 3, 5], 3))
print("   Index of first occurrence of 10 in [1, 2, 3, 4, 5]:",
      find_first_occurrence_in_list([1, 2, 3, 4, 5], 10))

8. Index of first occurrence of 3 in [1, 2, 3, 4, 3, 5]: 2
   Index of first occurrence of 10 in [1, 2, 3, 4, 5]: -1

In [61]:

# 9. Count the occurrences of an element in a list.
def count_occurrences(lst, element):
    return lst.count(element)

# Test
print("9. Count occurrences of 3 in [1, 2, 3, 4, 3, 5]:", count_occurrences([1, 2, 3, 4, 3, 5], 3))

9. Count occurrences of 3 in [1, 2, 3, 4, 3, 5]: 2

In [62]:
# 10. Reverse the order of elements in a list.
def reverse_list(lst):
    return lst[::-1]

# Test
print("10. Reverse [1, 2, 3, 4, 5]:", reverse_list([1, 2, 3, 4, 5]))

10. Reverse [1, 2, 3, 4, 5]: [5, 4, 3, 2, 1]

In [63]:

# 11. Sort a list in ascending order.
def sort_ascending(lst):
    return sorted(lst)

# Test
print("11. Sort [5, 3, 1, 4, 2] in ascending order:", sort_ascending([5, 3, 1, 4, 2]))

11. Sort [5, 3, 1, 4, 2] in ascending order: [1, 2, 3, 4, 5]

In [64]:
# 12. Sort a list in descending order.
def sort_descending(lst):
    return sorted(lst, reverse=True)

# Test
print("12. Sort [5, 3, 1, 4, 2] in descending order:", sort_descending([5, 3, 1, 4, 2]))

12. Sort [5, 3, 1, 4, 2] in descending order: [5, 4, 3, 2, 1]

In [65]:

# 13. Create a list of even numbers from 1 to 20.
def even_numbers_1_to_20():
    return list(range(2, 21, 2))

# Test
print("13. Even numbers from 1 to 20:", even_numbers_1_to_20())

13. Even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [66]:
# 14. Create a list of odd numbers from 1 to 20.
def odd_numbers_1_to_20():
    return list(range(1, 21, 2))

# Test
print("14. Odd numbers from 1 to 20:", odd_numbers_1_to_20())

14. Odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [67]:
# 15. Find the sum of all elements in a list.
def sum_list(lst):
    return sum(lst)

# Test
print("15. Sum of [1, 2, 3, 4, 5]:", sum_list([1, 2, 3, 4, 5]))

15. Sum of [1, 2, 3, 4, 5]: 15

In [68]:
# 16. Find the maximum value in a list.
def find_max(lst):
    if not lst:
        return None
    return max(lst)

# Test
print("16. Maximum value in [5, 3, 9, 1, 7]:", find_max([5, 3, 9, 1, 7]))

16. Maximum value in [5, 3, 9, 1, 7]: 9

In [69]:
# 17. Find the minimum value in a list.
def find_min(lst):
    if not lst:
        return None
    return min(lst)

# Test
print("17. Minimum value in [5, 3, 9, 1, 7]:", find_min([5, 3, 9, 1, 7]))

17. Minimum value in [5, 3, 9, 1, 7]: 1

In [70]:
# 18. Create a list of squares of numbers from 1 to 10.
def squares_1_to_10():
    return [i**2 for i in range(1, 11)]

# Test
print("18. Squares of numbers from 1 to 10:", squares_1_to_10())

18. Squares of numbers from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [71]:

# 19. Create a list of random numbers.
def random_numbers(length=10, min_val=1, max_val=100):
    import random
    return [random.randint(min_val, max_val) for _ in range(length)]

# Test
print("19. List of 5 random numbers:", random_numbers(5))

19. List of 5 random numbers: [90, 11, 40, 77, 52]

In [72]:

# 20. Remove duplicates from a list.
def remove_duplicates(lst):
    return list(dict.fromkeys(lst))  # Preserves order

# Test
print("20. Remove duplicates from [1, 2, 2, 3, 4, 3, 5]:", remove_duplicates([1, 2, 2, 3, 4, 3, 5]))

20. Remove duplicates from [1, 2, 2, 3, 4, 3, 5]: [1, 2, 3, 4, 5]

In [73]:
# 21. Find the common elements between two lists.
def common_elements(lst1, lst2):
    return list(set(lst1) & set(lst2))

# Test
print("21. Common elements between [1, 2, 3, 4] and [3, 4, 5, 6]:",
      common_elements([1, 2, 3, 4], [3, 4, 5, 6]))

21. Common elements between [1, 2, 3, 4] and [3, 4, 5, 6]: [3, 4]

In [74]:

# 22. Find the difference between two lists.
def list_difference(lst1, lst2):
    return list(set(lst1) - set(lst2))

# Test
print("22. Difference between [1, 2, 3, 4] and [3, 4, 5, 6]:",
      list_difference([1, 2, 3, 4], [3, 4, 5, 6]))

22. Difference between [1, 2, 3, 4] and [3, 4, 5, 6]: [1, 2]

In [75]:

# 23. Merge two lists.
def merge_lists(lst1, lst2):
    return lst1 + lst2

# Test
print("23. Merge [1, 2, 3] and [4, 5, 6]:", merge_lists([1, 2, 3], [4, 5, 6]))

23. Merge [1, 2, 3] and [4, 5, 6]: [1, 2, 3, 4, 5, 6]

In [76]:

# 24. Multiply all elements in a list by 2.
def multiply_by_two(lst):
    return [item * 2 for item in lst]

# Test
print("24. Multiply all elements in [1, 2, 3, 4, 5] by 2:", multiply_by_two([1, 2, 3, 4, 5]))

24. Multiply all elements in [1, 2, 3, 4, 5] by 2: [2, 4, 6, 8, 10]

In [77]:
# 25. Filter out all even numbers from a list.
def filter_out_even(lst):
    return [num for num in lst if num % 2 != 0]

# Test
print("25. Filter out even numbers from [1, 2, 3, 4, 5, 6]:", filter_out_even([1, 2, 3, 4, 5, 6]))

25. Filter out even numbers from [1, 2, 3, 4, 5, 6]: [1, 3, 5]

In [79]:

# 26. Convert a list of strings to a list of integers.
def strings_to_integers(lst):
    result = []
    for item in lst:
        try:
            result.append(int(item))
        except ValueError:
            # Skip items that can't be converted to int
            pass
    return result


# Test
print("26. Convert ['1', '2', '3', '4', '5'] to integers:", strings_to_integers(['1', '2', '3', '4', '5']))

26. Convert ['1', '2', '3', '4', '5'] to integers: [1, 2, 3, 4, 5]

In [80]:
# 27. Convert a list of integers to a list of strings.
def integers_to_strings(lst):
    return [str(num) for num in lst]

# Test
print("27. Convert [1, 2, 3, 4, 5] to strings:", integers_to_strings([1, 2, 3, 4, 5]))


# 28. Flatten a nested list.
def flatten_list(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten_list(item))  # Recursive call for nested lists
        else:
            flat_list.append(item)
    return flat_list

# Test
print("28. Flatten [1, [2, 3], [4, [5, 6]]]:", flatten_list([1, [2, 3], [4, [5, 6]]]))

27. Convert [1, 2, 3, 4, 5] to strings: ['1', '2', '3', '4', '5']
28. Flatten [1, [2, 3], [4, [5, 6]]]: [1, 2, 3, 4, 5, 6]

In [81]:
# 29. Create a list of the first 10 Fibonacci numbers.
def fibonacci_10():
    fib = [0, 1]
    for i in range(2, 10):
        fib.append(fib[i-1] + fib[i-2])
    return fib

# Test
print("29. First 10 Fibonacci numbers:", fibonacci_10())


# 30. Check if a list is sorted.
def is_sorted(lst):
    return lst == sorted(lst)

# Test
print("30. Is [1, 2, 3, 4, 5] sorted?", is_sorted([1, 2, 3, 4, 5]))
print("    Is [1, 3, 2, 4, 5] sorted?", is_sorted([1, 3, 2, 4, 5]))

29. First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
30. Is [1, 2, 3, 4, 5] sorted? True
    Is [1, 3, 2, 4, 5] sorted? False

In [82]:

# 31. Rotate a list to the left by `n` positions.
def rotate_left(lst, n):
    n = n % len(lst) if lst else 0  # Handle edge cases
    return lst[n:] + lst[:n]

# Test
print("31. Rotate [1, 2, 3, 4, 5] to the left by 2 positions:", rotate_left([1, 2, 3, 4, 5], 2))


# 32. Rotate a list to the right by `n` positions.
def rotate_right(lst, n):
    n = n % len(lst) if lst else 0  # Handle edge cases
    return lst[-n:] + lst[:-n]

# Test
print("32. Rotate [1, 2, 3, 4, 5] to the right by 2 positions:", rotate_right([1, 2, 3, 4, 5], 2))


# 33. Create a list of prime numbers up to 50.
def primes_up_to_50():
    def is_prime(num):
        if num <= 1:
            return False
        if num <= 3:
            return True
        if num % 2 == 0 or num % 3 == 0:
            return False
        i = 5
        while i * i <= num:
            if num % i == 0 or num % (i + 2) == 0:
                return False
            i += 6
        return True

    return [num for num in range(2, 51) if is_prime(num)]

# Test
print("33. Prime numbers up to 50:", primes_up_to_50())


# 34. Split a list into chunks of size `n`.
def split_into_chunks(lst, chunk_size):
    chunks = []
    for i in range(0, len(lst), chunk_size):
        chunks.append(lst[i:i + chunk_size])
    return chunks

# Test
print("34. Split [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] into chunks of size 3:",
      split_into_chunks([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 3))


# 35. Find the second largest number in a list.
def second_largest(lst):
    if len(lst) < 2:
        return None

    unique_sorted = sorted(set(lst), reverse=True)
    return unique_sorted[1] if len(unique_sorted) >= 2 else None

# Test
print("35. Second largest number in [5, 1, 9, 3, 7, 9]:", second_largest([5, 1, 9, 3, 7, 9]))


# 36. Replace every element in a list with its square.
def square_elements(lst):
    return [x**2 for x in lst]

# Test
print("36. Square elements in [1, 2, 3, 4, 5]:", square_elements([1, 2, 3, 4, 5]))


# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
def list_to_dict(lst):
    return {item: index for index, item in enumerate(lst)}

# Test
print("37. Convert ['a', 'b', 'c', 'd'] to dictionary:", list_to_dict(['a', 'b', 'c', 'd']))


# 38. Shuffle the elements of a list randomly.
def shuffle_list(lst):
    import random
    shuffled = lst.copy()
    random.shuffle(shuffled)
    return shuffled

# Test
original = [1, 2, 3, 4, 5]
print("38. Shuffle", original, "->", shuffle_list(original))


# 39. Create a list of the first 10 factorial numbers.
def factorial_list(n):
    result = []
    factorial = 1
    for i in range(1, n+1):
        factorial *= i
        result.append(factorial)
    return result

# Test
print("39. First 10 factorial numbers:", factorial_list(10))


# 40. Check if two lists have at least one element in common.
def have_common_element(lst1, lst2):
    return bool(set(lst1) & set(lst2))

# Test
print("40. Do [1, 2, 3] and [3, 4, 5] have elements in common?",
      have_common_element([1, 2, 3], [3, 4, 5]))
print("    Do [1, 2, 3] and [4, 5, 6] have elements in common?",
      have_common_element([1, 2, 3], [4, 5, 6]))


# 41. Remove all elements from a list.
def clear_list(lst):
    lst.clear()
    return lst

# Test
test_list = [1, 2, 3, 4, 5]
print("41. Clear", test_list, "->", clear_list(test_list))


# 42. Replace negative numbers in a list with 0.
def replace_negatives(lst):
    return [0 if x < 0 else x for x in lst]

# Test
print("42. Replace negatives in [1, -2, 3, -4, 5] with 0:", replace_negatives([1, -2, 3, -4, 5]))


# 43. Convert a string into a list of words.
def string_to_words(string):
    return string.split()

# Test
print("43. Convert 'The quick brown fox' to words:", string_to_words("The quick brown fox"))


# 44. Convert a list of words into a string.
def words_to_string(words, separator=" "):
    return separator.join(words)

# Test
print("44. Convert ['The', 'quick', 'brown', 'fox'] to string:",
      words_to_string(['The', 'quick', 'brown', 'fox']))


# 45. Create a list of the first `n` powers of 2.
def powers_of_two(n):
    return [2**i for i in range(n)]

# Test
print("45. First 5 powers of 2:", powers_of_two(5))

31. Rotate [1, 2, 3, 4, 5] to the left by 2 positions: [3, 4, 5, 1, 2]
32. Rotate [1, 2, 3, 4, 5] to the right by 2 positions: [4, 5, 1, 2, 3]
33. Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
34. Split [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] into chunks of size 3: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]
35. Second largest number in [5, 1, 9, 3, 7, 9]: 7
36. Square elements in [1, 2, 3, 4, 5]: [1, 4, 9, 16, 25]
37. Convert ['a', 'b', 'c', 'd'] to dictionary: {'a': 0, 'b': 1, 'c': 2, 'd': 3}
38. Shuffle [1, 2, 3, 4, 5] -> [5, 2, 4, 3, 1]
39. First 10 factorial numbers: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]
40. Do [1, 2, 3] and [3, 4, 5] have elements in common? True
    Do [1, 2, 3] and [4, 5, 6] have elements in common? False
41. Clear [] -> []
42. Replace negatives in [1, -2, 3, -4, 5] with 0: [1, 0, 3, 0, 5]
43. Convert 'The quick brown fox' to words: ['The', 'quick', 'brown', 'fox']
44. Convert ['The', 'quick', 'brown', 'fox'] to string: The quick brown fox
45. First 5 powers of 2: [1, 2, 4, 8, 16]

In [83]:

# 46. Find the longest string in a list of strings.
def longest_string(lst):
    if not lst:
        return None
    return max(lst, key=len)

# Test
print("46. Longest string in ['apple', 'banana', 'kiwi', 'strawberry']:",
      longest_string(['apple', 'banana', 'kiwi', 'strawberry']))


# 47. Find the shortest string in a list of strings.
def shortest_string(lst):
    if not lst:
        return None
    return min(lst, key=len)

# Test
print("47. Shortest string in ['apple', 'banana', 'kiwi', 'strawberry']:",
      shortest_string(['apple', 'banana', 'kiwi', 'strawberry']))

# 48. Create a list of the first `n` triangular numbers.
def triangular_numbers(n):
    return [sum(range(1, i + 1)) for i in range(1, n + 1)]

# Test
print("48. First 5 triangular numbers:", triangular_numbers(5))


# 49. Check if a list contains another list as a subsequence.
def contains_subsequence(lst, subseq):
    # Empty subsequence is always contained
    if not subseq:
        return True

    # Find first element of subsequence
    for i in range(len(lst) - len(subseq) + 1):
        if lst[i] == subseq[0]:
            # Check if subsequence matches from this position
            match = True
            for j in range(1, len(subseq)):
                if i + j >= len(lst) or lst[i + j] != subseq[j]:
                    match = False
                    break
            if match:
                return True
    return False

# Test
print("49. Does [1, 2, 3, 4, 5] contain [2, 3, 4] as a subsequence?",
      contains_subsequence([1, 2, 3, 4, 5], [2, 3, 4]))
print("    Does [1, 2, 3, 4, 5] contain [2, 4] as a subsequence?",
      contains_subsequence([1, 2, 3, 4, 5], [2, 4]))


# 50. Swap two elements in a list by their indices.
def swap_elements(lst, index1, index2):
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        lst[index1], lst[index2] = lst[index2], lst[index1]
    return lst

# Test
print("50. Swap elements at indices 0 and 3 in [1, 2, 3, 4, 5]:",
      swap_elements([1, 2, 3, 4, 5], 0, 3))

46. Longest string in ['apple', 'banana', 'kiwi', 'strawberry']: strawberry
47. Shortest string in ['apple', 'banana', 'kiwi', 'strawberry']: kiwi
48. First 5 triangular numbers: [1, 3, 6, 10, 15]
49. Does [1, 2, 3, 4, 5] contain [2, 3, 4] as a subsequence? True
    Does [1, 2, 3, 4, 5] contain [2, 4] as a subsequence? False
50. Swap elements at indices 0 and 3 in [1, 2, 3, 4, 5]: [4, 2, 3, 1, 5]

# **Tuple Based Practice Problems** (1- 50)

In [84]:

# 1. Create a tuple with integers from 1 to 5.
def create_tuple_1_to_5():
    return tuple(range(1, 6))

# Test
print("\n1. Tuple with integers from 1 to 5:", create_tuple_1_to_5())


# 2. Access the third element of a tuple.
def access_third_element(tup):
    return tup[2] if len(tup) > 2 else None

# Test
print("2. Third element of (1, 2, 3, 4, 5):", access_third_element((1, 2, 3, 4, 5)))


# 3. Find the length of a tuple without using the `len()` function.
def tuple_length(tup):
    count = 0
    for _ in tup:
        count += 1
    return count

# Test
print("3. Length of (1, 2, 3, 4, 5) without len():", tuple_length((1, 2, 3, 4, 5)))


# 4. Count the occurrences of an element in a tuple.
def count_element_in_tuple(tup, element):
    return tup.count(element)

# Test
print("4. Count occurrences of 3 in (1, 2, 3, 3, 4, 5):", count_element_in_tuple((1, 2, 3, 3, 4, 5), 3))


# 5. Find the index of the first occurrence of an element in a tuple.
def find_index_in_tuple(tup, element):
    try:
        return tup.index(element)
    except ValueError:
        return -1

# Test
print("5. Index of first occurrence of 3 in (1, 2, 3, 4, 3):", find_index_in_tuple((1, 2, 3, 4, 3), 3))


# 6. Check if an element exists in a tuple.
def element_exists_in_tuple(tup, element):
    return element in tup

# Test
print("6. Does 3 exist in (1, 2, 3, 4, 5)?", element_exists_in_tuple((1, 2, 3, 4, 5), 3))
print("   Does 10 exist in (1, 2, 3, 4, 5)?", element_exists_in_tuple((1, 2, 3, 4, 5), 10))


# 7. Convert a tuple to a list.
def tuple_to_list(tup):
    return list(tup)

# Test
print("7. Convert (1, 2, 3, 4, 5) to a list:", tuple_to_list((1, 2, 3, 4, 5)))


# 8. Convert a list to a tuple.
def list_to_tuple(lst):
    return tuple(lst)

# Test
print("8. Convert [1, 2, 3, 4, 5] to a tuple:", list_to_tuple([1, 2, 3, 4, 5]))


# 9. Unpack the elements of a tuple into variables.
def unpack_tuple_demo():
    tup = (1, 2, 3)
    a, b, c = tup
    return f"Unpacked {tup} into variables a={a}, b={b}, c={c}"

# Test
print("9. Unpacking a tuple:")
print("  ", unpack_tuple_demo())


# 10. Create a tuple of even numbers from 1 to 10.
def even_tuple_1_to_10():
    return tuple(range(2, 11, 2))

# Test
print("10. Tuple of even numbers from 1 to 10:", even_tuple_1_to_10())


# 11. Create a tuple of odd numbers from 1 to 10.
def odd_tuple_1_to_10():
    return tuple(range(1, 11, 2))

# Test
print("11. Tuple of odd numbers from 1 to 10:", odd_tuple_1_to_10())


# 12. Concatenate two tuples.
def concatenate_tuples(tup1, tup2):
    return tup1 + tup2

# Test
print("12. Concatenate (1, 2, 3) and (4, 5, 6):", concatenate_tuples((1, 2, 3), (4, 5, 6)))


# 13. Repeat a tuple three times.
def repeat_tuple(tup, times=3):
    return tup * times

# Test
print("13. Repeat (1, 2, 3) three times:", repeat_tuple((1, 2, 3)))


# 14. Check if a tuple is empty.
def is_tuple_empty(tup):
    return len(tup) == 0

# Test
print("14. Is () empty?", is_tuple_empty(()))
print("    Is (1, 2, 3) empty?", is_tuple_empty((1, 2, 3)))


# 15. Create a nested tuple.
def create_nested_tuple():
    return (1, 2, (3, 4, 5), 6)

# Test
print("15. A nested tuple:", create_nested_tuple())

1. Tuple with integers from 1 to 5: (1, 2, 3, 4, 5)
2. Third element of (1, 2, 3, 4, 5): 3
3. Length of (1, 2, 3, 4, 5) without len(): 5
4. Count occurrences of 3 in (1, 2, 3, 3, 4, 5): 2
5. Index of first occurrence of 3 in (1, 2, 3, 4, 3): 2
6. Does 3 exist in (1, 2, 3, 4, 5)? True
   Does 10 exist in (1, 2, 3, 4, 5)? False
7. Convert (1, 2, 3, 4, 5) to a list: [1, 2, 3, 4, 5]
8. Convert [1, 2, 3, 4, 5] to a tuple: (1, 2, 3, 4, 5)
9. Unpacking a tuple:
   Unpacked (1, 2, 3) into variables a=1, b=2, c=3
10. Tuple of even numbers from 1 to 10: (2, 4, 6, 8, 10)
11. Tuple of odd numbers from 1 to 10: (1, 3, 5, 7, 9)
12. Concatenate (1, 2, 3) and (4, 5, 6): (1, 2, 3, 4, 5, 6)
13. Repeat (1, 2, 3) three times: (1, 2, 3, 1, 2, 3, 1, 2, 3)
14. Is () empty? True
    Is (1, 2, 3) empty? False
15. A nested tuple: (1, 2, (3, 4, 5), 6)

In [85]:

# 16. Access the first element of a nested tuple.
def access_nested_element(nested_tup):
    if len(nested_tup) > 2 and isinstance(nested_tup[2], tuple):
        return nested_tup[2][0]
    return None

# Test
print("16. First element of the nested tuple in (1, 2, (3, 4, 5), 6):",
      access_nested_element((1, 2, (3, 4, 5), 6)))


# 17. Create a tuple with a single element.
def single_element_tuple(element):
    return (element,)  # Note the comma

# Test
print("17. A tuple with a single element 42:", single_element_tuple(42))
print("    Type of result:", type(single_element_tuple(42)))


# 18. Compare two tuples.
def compare_tuples(tup1, tup2):
    if tup1 == tup2:
        return "Tuples are equal"
    elif tup1 < tup2:
        return "First tuple is less than second tuple"
    else:
        return "First tuple is greater than second tuple"

# Test
print("18. Compare (1, 2, 3) and (1, 2, 3):", compare_tuples((1, 2, 3), (1, 2, 3)))
print("    Compare (1, 2, 3) and (1, 2, 4):", compare_tuples((1, 2, 3), (1, 2, 4)))
print("    Compare (1, 2, 4) and (1, 2, 3):", compare_tuples((1, 2, 4), (1, 2, 3)))


# 19. Delete a tuple.
def delete_tuple_demo():
    tup = (1, 2, 3)
    result = f"Before deletion: {tup}"
    del tup
    try:
        result += f", After deletion: {tup}"
    except NameError:
        result += ", After deletion: NameError (tuple no longer exists)"
    return result

# Test
print("19. Deleting a tuple:", delete_tuple_demo())


# 20. Slice a tuple.
def slice_tuple(tup, start, end):
    return tup[start:end]

# Test
print("20. Slice (1, 2, 3, 4, 5) from index 1 to 4:", slice_tuple((1, 2, 3, 4, 5), 1, 4))


# 21. Find the maximum value in a tuple.
def max_in_tuple(tup):
    return max(tup) if tup else None

# Test
print("21. Maximum value in (5, 3, 9, 1, 7):", max_in_tuple((5, 3, 9, 1, 7)))


# 22. Find the minimum value in a tuple.
def min_in_tuple(tup):
    return min(tup) if tup else None

# Test
print("22. Minimum value in (5, 3, 9, 1, 7):", min_in_tuple((5, 3, 9, 1, 7)))


# 23. Convert a string to a tuple of characters.
def string_to_char_tuple(string):
    return tuple(string)

# Test
print("23. Convert 'hello' to a tuple of characters:", string_to_char_tuple("hello"))


# 24. Convert a tuple of characters to a string.
def char_tuple_to_string(char_tuple):
    return ''.join(char_tuple)

# Test
print("24. Convert ('h', 'e', 'l', 'l', 'o') to a string:",
      char_tuple_to_string(('h', 'e', 'l', 'l', 'o')))


# 25. Create a tuple from multiple data types.
def mixed_data_type_tuple():
    return (1, "hello", 3.14, True, None)

# Test
print("25. Tuple with multiple data types:", mixed_data_type_tuple())


# 26. Check if two tuples are identical.
def are_tuples_identical(tup1, tup2):
    return tup1 == tup2

# Test
print("26. Are (1, 2, 3) and (1, 2, 3) identical?", are_tuples_identical((1, 2, 3), (1, 2, 3)))
print("    Are (1, 2, 3) and (1, 2, 4) identical?", are_tuples_identical((1, 2, 3), (1, 2, 4)))


# 27. Sort the elements of a tuple.
def sort_tuple(tup):
    return tuple(sorted(tup))

# Test
print("27. Sort (5, 3, 1, 4, 2):", sort_tuple((5, 3, 1, 4, 2)))


# 28. Convert a tuple of integers to a tuple of strings.
def tuple_int_to_str(tup):
    return tuple(str(item) for item in tup)

# Test
print("28. Convert (1, 2, 3, 4, 5) to tuple of strings:", tuple_int_to_str((1, 2, 3, 4, 5)))


# 29. Convert a tuple of strings to a tuple of integers.
def tuple_str_to_int(tup):
    try:
        return tuple(int(item) for item in tup)
    except ValueError:
        return "Error: Not all items can be converted to integers"

# Test
print("29. Convert ('1', '2', '3', '4', '5') to tuple of integers:",
      tuple_str_to_int(('1', '2', '3', '4', '5')))
print("    Convert ('1', 'two', '3') to tuple of integers:",
      tuple_str_to_int(('1', 'two', '3')))


# 30. Merge two tuples.
def merge_tuples(tup1, tup2):
    return tup1 + tup2

# Test
print("30. Merge (1, 2, 3) and (4, 5, 6):", merge_tuples((1, 2, 3), (4, 5, 6)))

16. First element of the nested tuple in (1, 2, (3, 4, 5), 6): 3
17. A tuple with a single element 42: (42,)
    Type of result: <class 'tuple'>
18. Compare (1, 2, 3) and (1, 2, 3): Tuples are equal
    Compare (1, 2, 3) and (1, 2, 4): First tuple is less than second tuple
    Compare (1, 2, 4) and (1, 2, 3): First tuple is greater than second tuple
19. Deleting a tuple: Before deletion: (1, 2, 3), After deletion: NameError (tuple no longer exists)
20. Slice (1, 2, 3, 4, 5) from index 1 to 4: (2, 3, 4)
21. Maximum value in (5, 3, 9, 1, 7): 9
22. Minimum value in (5, 3, 9, 1, 7): 1
23. Convert 'hello' to a tuple of characters: ('h', 'e', 'l', 'l', 'o')
24. Convert ('h', 'e', 'l', 'l', 'o') to a string: hello
25. Tuple with multiple data types: (1, 'hello', 3.14, True, None)
26. Are (1, 2, 3) and (1, 2, 3) identical? True
    Are (1, 2, 3) and (1, 2, 4) identical? False
27. Sort (5, 3, 1, 4, 2): (1, 2, 3, 4, 5)
28. Convert (1, 2, 3, 4, 5) to tuple of strings: ('1', '2', '3', '4', '5')
29. Convert ('1', '2', '3', '4', '5') to tuple of integers: (1, 2, 3, 4, 5)
    Convert ('1', 'two', '3') to tuple of integers: Error: Not all items can be converted to integers
30. Merge (1, 2, 3) and (4, 5, 6): (1, 2, 3, 4, 5, 6)

In [90]:
# 31. Flatten a nested tuple.
def flatten_tuple(nested_tuple):
    flat_list = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flat_list.extend(flatten_tuple(item))  # Recursive call for nested tuples
        else:
            flat_list.append(item)
    return tuple(flat_list)

# Test
print("31. Flatten (1, (2, 3), (4, (5, 6))):",
      flatten_tuple((1, (2, 3), (4, (5, 6)))))


# 32. Create a tuple of the first 5 prime numbers.
def first_5_primes_tuple():
    def is_prime(n):
        if n <= 1:
            return False
        if n <= 3:
            return True
        if n % 2 == 0 or n % 3 == 0:
            return False
        i = 5
        while i * i <= n:
            if n % i == 0 or n % (i + 2) == 0:
                return False
            i += 6
        return True

    primes = []
    num = 2
    while len(primes) < 5:
        if is_prime(num):
            primes.append(num)
        num += 1

    return tuple(primes)

# Test
print("32. First 5 prime numbers as a tuple:", first_5_primes_tuple())


# 33. Check if a tuple is a palindrome.
def is_tuple_palindrome(tup):
    return tup == tup[::-1]

# Test
print("33. Is (1, 2, 3, 2, 1) a palindrome?", is_tuple_palindrome((1, 2, 3, 2, 1)))
print("    Is (1, 2, 3, 4, 5) a palindrome?", is_tuple_palindrome((1, 2, 3, 4, 5)))


# 34. Create a tuple of squares of numbers from 1 to 5.
def squares_tuple_1_to_5():
    return tuple(i**2 for i in range(1, 6))

# Test
print("34. Tuple of squares from 1 to 5:", squares_tuple_1_to_5())


# 35. Filter out all even numbers from a tuple.
def filter_even_from_tuple(tup):
    return tuple(x for x in tup if x % 2 != 0)

# Test
print("35. Filter even numbers from (1, 2, 3, 4, 5, 6):",
      filter_even_from_tuple((1, 2, 3, 4, 5, 6)))


# 36. Multiply all elements in a tuple by 2.
def multiply_tuple_by_2(tup):
    return tuple(x * 2 for x in tup)

# Test
print("36. Multiply all elements in (1, 2, 3, 4, 5) by 2:",
      multiply_tuple_by_2((1, 2, 3, 4, 5)))


# 37. Create a tuple of random numbers.
def random_tuple(length=5, min_val=1, max_val=100):
    import random
    return tuple(random.randint(min_val, max_val) for _ in range(length))

# Test
print("37. A tuple of 5 random numbers:", random_tuple())


# 38. Check if a tuple is sorted.
def is_tuple_sorted(tup):
    return tup == tuple(sorted(tup))

# Test
print("38. Is (1, 2, 3, 4, 5) sorted?", is_tuple_sorted((1, 2, 3, 4, 5)))
print("    Is (5, 3, 1, 4, 2) sorted?", is_tuple_sorted((5, 3, 1, 4, 2)))


# 39. Rotate a tuple to the left by `n` positions.
def rotate_tuple_left(tup, n):
    n = n % len(tup) if tup else 0  # Handle edge cases
    return tup[n:] + tup[:n]

# Test
print("39. Rotate (1, 2, 3, 4, 5) left by 2 positions:",
      rotate_tuple_left((1, 2, 3, 4, 5), 2))


# 40. Rotate a tuple to the right by `n` positions.
def rotate_tuple_right(tup, n):
    n = n % len(tup) if tup else 0  # Handle edge cases
    return tup[-n:] + tup[:-n]

# Test
print("40. Rotate (1, 2, 3, 4, 5) right by 2 positions:",
      rotate_tuple_right((1, 2, 3, 4, 5), 2))


# 41. Create a tuple of the first 5 Fibonacci numbers.
def first_5_fibonacci_tuple():
    fib = [0, 1]
    for i in range(2, 5):
        fib.append(fib[i-1] + fib[i-2])
    return tuple(fib)

# Test
print("41. First 5 Fibonacci numbers as a tuple:", first_5_fibonacci_tuple())


# 42. Create a tuple from user input.
def create_tuple_from_input():
    # Since we can't actually get user input in this environment, we'll simulate it
    simulated_input = "1 2 3 4 5"
    print(f"Simulated user input: {simulated_input}")

    # In a real program, you'd use this:
    # user_input = input("Enter values separated by spaces: ")
    # return tuple(map(int, user_input.split()))

    return tuple(map(int, simulated_input.split()))

# Test
print("42. Create tuple from simulated user input:", create_tuple_from_input())


# 43. Swap two elements in a tuple.
def swap_tuple_elements(tup, index1, index2):
    # Convert to list to swap elements (tuples are immutable)
    lst = list(tup)
    lst[index1], lst[index2] = lst[index2], lst[index1]
    return tuple(lst)

# Test
print("43. Swap elements at indices 0 and 3 in (1, 2, 3, 4, 5):",
      swap_tuple_elements((1, 2, 3, 4, 5), 0, 3))


# 44. Reverse the elements of a tuple.
def reverse_tuple(tup):
    return tup[::-1]

# Test
print("44. Reverse (1, 2, 3, 4, 5):", reverse_tuple((1, 2, 3, 4, 5)))


# 45. Create a tuple of the first `n` powers of 2.
def powers_of_2_tuple(n):
    return tuple(2**i for i in range(n))

# Test
print("45. First 5 powers of 2 as a tuple:", powers_of_2_tuple(5))


# 46. Find the longest string in a tuple of strings.
def longest_string_in_tuple(string_tuple):
    if not string_tuple:
        return None

    return max(string_tuple, key=len)

# Test
print("46. Longest string in ('apple', 'banana', 'kiwi', 'strawberry'):",
      longest_string_in_tuple(('apple', 'banana', 'kiwi', 'strawberry')))


# 47. Find the shortest string in a tuple of strings.
def shortest_string_in_tuple(string_tuple):
    if not string_tuple:
        return None

    return min(string_tuple, key=len)

# Test
print("47. Shortest string in ('apple', 'banana', 'kiwi', 'strawberry'):",
      shortest_string_in_tuple(('apple', 'banana', 'kiwi', 'strawberry')))


# 48. Create a tuple of the first `n` triangular numbers.
def triangular_numbers_tuple(n):
    """
    Create a tuple of the first n triangular numbers.
    A triangular number is the sum of the natural numbers from 1 to n.
    """
    return tuple(sum(range(1, i + 1)) for i in range(1, n + 1))

# Test
print("48. First 5 triangular numbers as a tuple:", triangular_numbers_tuple(5))


# 49. Check if a tuple contains another tuple as a subsequence.
def contains_subsequence_tuple(main_tuple, sub_tuple):
    """
    Check if sub_tuple appears as a contiguous subsequence within main_tuple.
    """
    # Empty subsequence is always contained
    if not sub_tuple:
        return True

    # If sub_tuple is longer than main_tuple, it can't be a subsequence
    if len(sub_tuple) > len(main_tuple):
        return False

    # Check for subsequence
    for i in range(len(main_tuple) - len(sub_tuple) + 1):
        if main_tuple[i:i+len(sub_tuple)] == sub_tuple:
            return True

    return False

# Test
print("49. Does (1, 2, 3, 4, 5) contain (2, 3, 4) as a subsequence?",
      contains_subsequence_tuple((1, 2, 3, 4, 5), (2, 3, 4)))
print("    Does (1, 2, 3, 4, 5) contain (2, 4) as a subsequence?",
      contains_subsequence_tuple((1, 2, 3, 4, 5), (2, 4)))


# 50. Create a tuple of alternating 1s and 0s of length `n`.
def alternating_tuple(n):
    """
    Create a tuple of alternating 1s and 0s with the specified length.
    """
    return tuple(i % 2 for i in range(n))

# Test
print("50. Tuple of alternating 1s and 0s of length 10:", alternating_tuple(10))

31. Flatten (1, (2, 3), (4, (5, 6))): (1, 2, 3, 4, 5, 6)
32. First 5 prime numbers as a tuple: (2, 3, 5, 7, 11)
33. Is (1, 2, 3, 2, 1) a palindrome? True
    Is (1, 2, 3, 4, 5) a palindrome? False
34. Tuple of squares from 1 to 5: (1, 4, 9, 16, 25)
35. Filter even numbers from (1, 2, 3, 4, 5, 6): (1, 3, 5)
36. Multiply all elements in (1, 2, 3, 4, 5) by 2: (2, 4, 6, 8, 10)
37. A tuple of 5 random numbers: (68, 1, 11, 99, 7)
38. Is (1, 2, 3, 4, 5) sorted? True
    Is (5, 3, 1, 4, 2) sorted? False
39. Rotate (1, 2, 3, 4, 5) left by 2 positions: (3, 4, 5, 1, 2)
40. Rotate (1, 2, 3, 4, 5) right by 2 positions: (4, 5, 1, 2, 3)
41. First 5 Fibonacci numbers as a tuple: (0, 1, 1, 2, 3)
Simulated user input: 1 2 3 4 5
42. Create tuple from simulated user input: (1, 2, 3, 4, 5)
43. Swap elements at indices 0 and 3 in (1, 2, 3, 4, 5): (4, 2, 3, 1, 5)
44. Reverse (1, 2, 3, 4, 5): (5, 4, 3, 2, 1)
45. First 5 powers of 2 as a tuple: (1, 2, 4, 8, 16)
46. Longest string in ('apple', 'banana', 'kiwi', 'strawberry'): strawberry
47. Shortest string in ('apple', 'banana', 'kiwi', 'strawberry'): kiwi
48. First 5 triangular numbers as a tuple: (1, 3, 6, 10, 15)
49. Does (1, 2, 3, 4, 5) contain (2, 3, 4) as a subsequence? True
    Does (1, 2, 3, 4, 5) contain (2, 4) as a subsequence? False
50. Tuple of alternating 1s and 0s of length 10: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# **Set based Questions (1 - 50)**

In [87]:
# 1. Create a set with integers from 1 to 5.
def create_set_1_to_5():
    return set(range(1, 6))

# Test
print("\n1. Set with integers from 1 to 5:", create_set_1_to_5())


# 2. Add an element to a set.
def add_to_set(s, element):
    s.add(element)
    return s

# Test
print("2. Add 6 to {1, 2, 3, 4, 5}:", add_to_set({1, 2, 3, 4, 5}, 6))


# 3. Remove an element from a set.
def remove_from_set(s, element):
    if element in s:
        s.remove(element)
    return s

# Test
print("3. Remove 3 from {1, 2, 3, 4, 5}:", remove_from_set({1, 2, 3, 4, 5}, 3))


# 4. Check if an element exists in a set.
def element_in_set(s, element):
    return element in s

# Test
print("4. Does 3 exist in {1, 2, 3, 4, 5}?", element_in_set({1, 2, 3, 4, 5}, 3))
print("   Does 10 exist in {1, 2, 3, 4, 5}?", element_in_set({1, 2, 3, 4, 5}, 10))


# 5. Find the length of a set without using the `len()` function.
def set_length(s):
    count = 0
    for _ in s:
        count += 1
    return count

# Test
print("5. Length of {1, 2, 3, 4, 5} without len():", set_length({1, 2, 3, 4, 5}))


# 6. Clear all elements from a set.
def clear_set(s):
    s.clear()
    return s

# Test
print("6. Clear {1, 2, 3, 4, 5}:", clear_set({1, 2, 3, 4, 5}))


# 7. Create a set of even numbers from 1 to 10.
def even_set_1_to_10():
    return set(range(2, 11, 2))

# Test
print("7. Set of even numbers from 1 to 10:", even_set_1_to_10())


# 8. Create a set of odd numbers from 1 to 10.
def odd_set_1_to_10():
    return set(range(1, 11, 2))

# Test
print("8. Set of odd numbers from 1 to 10:", odd_set_1_to_10())


# 9. Find the union of two sets.
def union_of_sets(set1, set2):
    return set1 | set2

# Test
print("9. Union of {1, 2, 3} and {3, 4, 5}:", union_of_sets({1, 2, 3}, {3, 4, 5}))


# 10. Find the intersection of two sets.
def intersection_of_sets(set1, set2):
    return set1 & set2

# Test
print("10. Intersection of {1, 2, 3} and {3, 4, 5}:", intersection_of_sets({1, 2, 3}, {3, 4, 5}))


# 11. Find the difference between two sets.
def difference_of_sets(set1, set2):
    return set1 - set2

# Test
print("11. Difference of {1, 2, 3} and {3, 4, 5}:", difference_of_sets({1, 2, 3}, {3, 4, 5}))


# 12. Check if a set is a subset of another set.
def is_subset(set1, set2):
    return set1.issubset(set2)

# Test
print("12. Is {1, 2} a subset of {1, 2, 3, 4, 5}?", is_subset({1, 2}, {1, 2, 3, 4, 5}))
print("    Is {1, 6} a subset of {1, 2, 3, 4, 5}?", is_subset({1, 6}, {1, 2, 3, 4, 5}))


# 13. Check if a set is a superset of another set.
def is_superset(set1, set2):
    return set1.issuperset(set2)

# Test
print("13. Is {1, 2, 3, 4, 5} a superset of {1, 2}?", is_superset({1, 2, 3, 4, 5}, {1, 2}))
print("    Is {1, 2, 3, 4, 5} a superset of {1, 6}?", is_superset({1, 2, 3, 4, 5}, {1, 6}))


# 14. Create a set from a list.
def list_to_set(lst):
    return set(lst)

# Test
print("14. Convert [1, 2, 2, 3, 4, 3, 5] to a set:", list_to_set([1, 2, 2, 3, 4, 3, 5]))


# 15. Convert a set to a list.
def set_to_list(s):
    return list(s)

# Test
print("15. Convert {1, 2, 3, 4, 5} to a list:", set_to_list({1, 2, 3, 4, 5}))

1. Set with integers from 1 to 5: {1, 2, 3, 4, 5}
2. Add 6 to {1, 2, 3, 4, 5}: {1, 2, 3, 4, 5, 6}
3. Remove 3 from {1, 2, 3, 4, 5}: {1, 2, 4, 5}
4. Does 3 exist in {1, 2, 3, 4, 5}? True
   Does 10 exist in {1, 2, 3, 4, 5}? False
5. Length of {1, 2, 3, 4, 5} without len(): 5
6. Clear {1, 2, 3, 4, 5}: set()
7. Set of even numbers from 1 to 10: {2, 4, 6, 8, 10}
8. Set of odd numbers from 1 to 10: {1, 3, 5, 7, 9}
9. Union of {1, 2, 3} and {3, 4, 5}: {1, 2, 3, 4, 5}
10. Intersection of {1, 2, 3} and {3, 4, 5}: {3}
11. Difference of {1, 2, 3} and {3, 4, 5}: {1, 2}
12. Is {1, 2} a subset of {1, 2, 3, 4, 5}? True
    Is {1, 6} a subset of {1, 2, 3, 4, 5}? False
13. Is {1, 2, 3, 4, 5} a superset of {1, 2}? True
    Is {1, 2, 3, 4, 5} a superset of {1, 6}? False
14. Convert [1, 2, 2, 3, 4, 3, 5] to a set: {1, 2, 3, 4, 5}
15. Convert {1, 2, 3, 4, 5} to a list: [1, 2, 3, 4, 5]

In [88]:

# 16. Remove a random element from a set.
def remove_random_element(s):
    if s:
        # pop() removes and returns an arbitrary element
        removed = s.pop()
        return (s, removed)
    return (s, None)

# Test
test_set = {1, 2, 3, 4, 5}
result, removed = remove_random_element(test_set.copy())
print(f"16. Remove a random element from {test_set}:")
print(f"    Removed element: {removed}, Resulting set: {result}")


# 17. Pop an element from a set.
def pop_from_set(s):
    try:
        popped = s.pop()
        return (s, popped)
    except KeyError:
        return (s, None)

# Test
test_set = {1, 2, 3, 4, 5}
result, popped = pop_from_set(test_set.copy())
print(f"17. Pop an element from {test_set}:")
print(f"    Popped element: {popped}, Resulting set: {result}")


# 18. Check if two sets have no elements in common.
def are_disjoint(set1, set2):
    return set1.isdisjoint(set2)

# Test
print("18. Are {1, 2, 3} and {4, 5, 6} disjoint?", are_disjoint({1, 2, 3}, {4, 5, 6}))
print("    Are {1, 2, 3} and {3, 4, 5} disjoint?", are_disjoint({1, 2, 3}, {3, 4, 5}))


# 19. Find the symmetric difference between two sets.
def symmetric_difference(set1, set2):
    return set1 ^ set2

# Test
print("19. Symmetric difference of {1, 2, 3} and {3, 4, 5}:",
      symmetric_difference({1, 2, 3}, {3, 4, 5}))


# 20. Update a set with elements from another set.
def update_set(set1, set2):
    set1.update(set2)
    return set1

# Test
print("20. Update {1, 2, 3} with elements from {3, 4, 5}:",
      update_set({1, 2, 3}, {3, 4, 5}))


# 21. Create a set of the first 5 prime numbers.
def first_5_primes_set():
    def is_prime(n):
        if n <= 1:
            return False
        if n <= 3:
            return True
        if n % 2 == 0 or n % 3 == 0:
            return False
        i = 5
        while i * i <= n:
            if n % i == 0 or n % (i + 2) == 0:
                return False
            i += 6
        return True

    primes = set()
    num = 2
    while len(primes) < 5:
        if is_prime(num):
            primes.add(num)
        num += 1

    return primes

# Test
print("21. Set of first 5 prime numbers:", first_5_primes_set())


# 22. Check if two sets are identical.
def are_identical_sets(set1, set2):
    return set1 == set2

# Test
print("22. Are {1, 2, 3} and {1, 2, 3} identical?", are_identical_sets({1, 2, 3}, {1, 2, 3}))
print("    Are {1, 2, 3} and {1, 2, 4} identical?", are_identical_sets({1, 2, 3}, {1, 2, 4}))


# 23. Create a frozen set.
def create_frozen_set(items):
    return frozenset(items)

# Test
print("23. Create a frozen set from [1, 2, 3, 4, 5]:", create_frozen_set([1, 2, 3, 4, 5]))


# 24. Check if a set is disjoint with another set.
def is_disjoint(set1, set2):
    return set1.isdisjoint(set2)

# Test
print("24. Is {1, 2, 3} disjoint with {4, 5, 6}?", is_disjoint({1, 2, 3}, {4, 5, 6}))
print("    Is {1, 2, 3} disjoint with {3, 4, 5}?", is_disjoint({1, 2, 3}, {3, 4, 5}))


# 25. Create a set of squares of numbers from 1 to 5.
def squares_set_1_to_5():
    return {i**2 for i in range(1, 6)}

# Test
print("25. Set of squares from 1 to 5:", squares_set_1_to_5())


# 26. Filter out all even numbers from a set.
def filter_even_from_set(s):
    return {x for x in s if x % 2 != 0}

# Test
print("26. Filter even numbers from {1, 2, 3, 4, 5, 6}:",
      filter_even_from_set({1, 2, 3, 4, 5, 6}))


# 27. Multiply all elements in a set by 2.
def multiply_set_by_2(s):
    return {x * 2 for x in s}

# Test
print("27. Multiply all elements in {1, 2, 3, 4, 5} by 2:",
      multiply_set_by_2({1, 2, 3, 4, 5}))


# 28. Create a set of random numbers.
def random_set(size=5, min_val=1, max_val=100):
    import random
    return {random.randint(min_val, max_val) for _ in range(size)}

# Test
print("28. A set of 5 random numbers:", random_set())


# 29. Check if a set is empty.
def is_set_empty(s):
    return len(s) == 0

# Test
print("29. Is {} empty?", is_set_empty(set()))
print("    Is {1, 2, 3} empty?", is_set_empty({1, 2, 3}))


# 30. Create a nested set (hint: use frozenset).
def create_nested_set():
    inner_set = frozenset([1, 2, 3])
    outer_set = {inner_set, 4, 5}
    return outer_set

# Test
print("30. A nested set:", create_nested_set())

16. Remove a random element from {1, 2, 3, 4, 5}:
    Removed element: 1, Resulting set: {2, 3, 4, 5}
17. Pop an element from {1, 2, 3, 4, 5}:
    Popped element: 1, Resulting set: {2, 3, 4, 5}
18. Are {1, 2, 3} and {4, 5, 6} disjoint? True
    Are {1, 2, 3} and {3, 4, 5} disjoint? False
19. Symmetric difference of {1, 2, 3} and {3, 4, 5}: {1, 2, 4, 5}
20. Update {1, 2, 3} with elements from {3, 4, 5}: {1, 2, 3, 4, 5}
21. Set of first 5 prime numbers: {2, 3, 5, 7, 11}
22. Are {1, 2, 3} and {1, 2, 3} identical? True
    Are {1, 2, 3} and {1, 2, 4} identical? False
23. Create a frozen set from [1, 2, 3, 4, 5]: frozenset({1, 2, 3, 4, 5})
24. Is {1, 2, 3} disjoint with {4, 5, 6}? True
    Is {1, 2, 3} disjoint with {3, 4, 5}? False
25. Set of squares from 1 to 5: {1, 4, 9, 16, 25}
26. Filter even numbers from {1, 2, 3, 4, 5, 6}: {1, 3, 5}
27. Multiply all elements in {1, 2, 3, 4, 5} by 2: {2, 4, 6, 8, 10}
28. A set of 5 random numbers: {4, 5, 82, 30, 95}
29. Is {} empty? True
    Is {1, 2, 3} empty? False
30. A nested set: {frozenset({1, 2, 3}), 4, 5}

In [89]:
# 31. Remove an element from a set using the discard method.
def discard_from_set(s, element):
    s.discard(element)  # Doesn't raise an error if element is not present
    return s

# Test
print("31. Discard 3 from {1, 2, 3, 4, 5}:", discard_from_set({1, 2, 3, 4, 5}, 3))
print("    Discard 10 from {1, 2, 3, 4, 5}:", discard_from_set({1, 2, 3, 4, 5}, 10))


# 32. Compare two sets.
def compare_sets(set1, set2):
    if set1 == set2:
        return "Sets are equal"
    elif set1 < set2:  # Proper subset
        return "First set is a proper subset of second set"
    elif set1 > set2:  # Proper superset
        return "First set is a proper superset of second set"
    else:
        return "Sets are not comparable (they have some elements in common but neither is a subset of the other)"

# Test
print("32. Compare {1, 2} and {1, 2, 3}:", compare_sets({1, 2}, {1, 2, 3}))
print("    Compare {1, 2, 3} and {1, 2}:", compare_sets({1, 2, 3}, {1, 2}))
print("    Compare {1, 2, 3} and {1, 2, 3}:", compare_sets({1, 2, 3}, {1, 2, 3}))
print("    Compare {1, 2, 3} and {3, 4, 5}:", compare_sets({1, 2, 3}, {3, 4, 5}))


# 33. Create a set from a string.
def string_to_set(string):
    return set(string)

# Test
print("33. Convert 'hello' to a set:", string_to_set("hello"))


# 34. Convert a set of strings to a set of integers.
def set_of_strings_to_integers(string_set):
    result = set()
    for s in string_set:
        try:
            result.add(int(s))
        except ValueError:
            # Skip strings that can't be converted to int
            pass
    return result

# Test
print("34. Convert {'1', '2', '3', '4', '5'} to a set of integers:",
      set_of_strings_to_integers({'1', '2', '3', '4', '5'}))
print("    Convert {'1', 'two', '3'} to a set of integers:",
      set_of_strings_to_integers({'1', 'two', '3'}))


# 35. Convert a set of integers to a set of strings.
def set_of_integers_to_strings(int_set):
    return {str(i) for i in int_set}

# Test
print("35. Convert {1, 2, 3, 4, 5} to a set of strings:",
      set_of_integers_to_strings({1, 2, 3, 4, 5}))


# 36. Create a set from a tuple.
def tuple_to_set(tup):
    return set(tup)

# Test
print("36. Convert (1, 2, 3, 3, 4, 5) to a set:", tuple_to_set((1, 2, 3, 3, 4, 5)))


# 37. Convert a set to a tuple.
def set_to_tuple(s):
    return tuple(s)

# Test
print("37. Convert {1, 2, 3, 4, 5} to a tuple:", set_to_tuple({1, 2, 3, 4, 5}))


# 38. Find the maximum value in a set.
def max_in_set(s):
    if not s:
        return None
    return max(s)

# Test
print("38. Maximum value in {5, 3, 9, 1, 7}:", max_in_set({5, 3, 9, 1, 7}))


# 39. Find the minimum value in a set.
def min_in_set(s):
    if not s:
        return None
    return min(s)

# Test
print("39. Minimum value in {5, 3, 9, 1, 7}:", min_in_set({5, 3, 9, 1, 7}))


# 40. Create a set from user input.
def set_from_input():
    # Since we can't actually get user input in this environment, we'll simulate it
    simulated_input = "1 2 3 4 5"
    print(f"Simulated user input: {simulated_input}")

    # In a real program, you'd use this:
    # user_input = input("Enter values separated by spaces: ")
    # return set(map(int, user_input.split()))

    return set(map(int, simulated_input.split()))

# Test
print("40. Create set from simulated user input:", set_from_input())


# 41. Check if the intersection of two sets is empty.
def is_intersection_empty(set1, set2):
    return len(set1.intersection(set2)) == 0

# Test
print("41. Is intersection of {1, 2, 3} and {4, 5, 6} empty?",
      is_intersection_empty({1, 2, 3}, {4, 5, 6}))
print("    Is intersection of {1, 2, 3} and {3, 4, 5} empty?",
      is_intersection_empty({1, 2, 3}, {3, 4, 5}))


# 42. Create a set of the first 5 Fibonacci numbers.
def fibonacci_set(n=5):
    if n <= 0:
        return set()

    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[i-1] + fib[i-2])

    return set(fib)

# Test
print("42. Set of first 5 Fibonacci numbers:", fibonacci_set())


# 43. Remove duplicates from a list using sets.
def remove_duplicates_using_set(lst):
    return list(set(lst))

# Test
print("43. Remove duplicates from [1, 2, 2, 3, 4, 3, 5]:",
      remove_duplicates_using_set([1, 2, 2, 3, 4, 3, 5]))


# 44. Check if two sets have the same elements, regardless of their count.
def same_elements(collection1, collection2):
    return set(collection1) == set(collection2)

# Test
print("44. Do [1, 2, 2, 3] and [3, 1, 2] have the same elements?",
      same_elements([1, 2, 2, 3], [3, 1, 2]))
print("    Do [1, 2, 3] and [1, 2, 4] have the same elements?",
      same_elements([1, 2, 3], [1, 2, 4]))


# 45. Create a set of the first `n` powers of 2.
def powers_of_2_set(n):
    return {2**i for i in range(n)}

# Test
print("45. Set of first 5 powers of 2:", powers_of_2_set(5))


# 46. Find the common elements between a set and a list.
def common_elements_set_list(s, lst):
    return s.intersection(set(lst))

# Test
print("46. Common elements between {1, 2, 3, 4} and [3, 4, 5, 6]:",
      common_elements_set_list({1, 2, 3, 4}, [3, 4, 5, 6]))


# 47. Create a set of the first `n` triangular numbers.
def triangular_numbers_set(n):
    return {sum(range(1, i + 1)) for i in range(1, n + 1)}

# Test
print("47. Set of first 5 triangular numbers:", triangular_numbers_set(5))


# 48. Check if a set contains another set as a subset.
def contains_subset(superset, subset):
    return subset.issubset(superset)

# Test
print("48. Does {1, 2, 3, 4, 5} contain {1, 2, 3} as a subset?",
      contains_subset({1, 2, 3, 4, 5}, {1, 2, 3}))
print("    Does {1, 2, 3} contain {1, 2, 3, 4, 5} as a subset?",
      contains_subset({1, 2, 3}, {1, 2, 3, 4, 5}))


# 49. Create a set of alternating 1s and 0s of length `n`.
def alternating_set(n):
    return {i % 2 for i in range(n)}  # This will only have 0 and 1 since sets contain unique elements

# Test
print("49. Set of alternating 1s and 0s of length 10:", alternating_set(10))
print("    Note: Sets only contain unique elements, so this will always be {0, 1} for n >= 2")


# 50. Merge multiple sets into one.
def merge_sets(*sets):
    result = set()
    for s in sets:
        result.update(s)
    return result

# Test
print("50. Merge {1, 2, 3}, {3, 4, 5}, and {5, 6, 7}:",
      merge_sets({1, 2, 3}, {3, 4, 5}, {5, 6, 7}))

31. Discard 3 from {1, 2, 3, 4, 5}: {1, 2, 4, 5}
    Discard 10 from {1, 2, 3, 4, 5}: {1, 2, 3, 4, 5}
32. Compare {1, 2} and {1, 2, 3}: First set is a proper subset of second set
    Compare {1, 2, 3} and {1, 2}: First set is a proper superset of second set
    Compare {1, 2, 3} and {1, 2, 3}: Sets are equal
    Compare {1, 2, 3} and {3, 4, 5}: Sets are not comparable (they have some elements in common but neither is a subset of the other)
33. Convert 'hello' to a set: {'h', 'e', 'o', 'l'}
34. Convert {'1', '2', '3', '4', '5'} to a set of integers: {1, 2, 3, 4, 5}
    Convert {'1', 'two', '3'} to a set of integers: {1, 3}
35. Convert {1, 2, 3, 4, 5} to a set of strings: {'5', '2', '4', '3', '1'}
36. Convert (1, 2, 3, 3, 4, 5) to a set: {1, 2, 3, 4, 5}
37. Convert {1, 2, 3, 4, 5} to a tuple: (1, 2, 3, 4, 5)
38. Maximum value in {5, 3, 9, 1, 7}: 9
39. Minimum value in {5, 3, 9, 1, 7}: 1
Simulated user input: 1 2 3 4 5
40. Create set from simulated user input: {1, 2, 3, 4, 5}
41. Is intersection of {1, 2, 3} and {4, 5, 6} empty? True
    Is intersection of {1, 2, 3} and {3, 4, 5} empty? False
42. Set of first 5 Fibonacci numbers: {0, 1, 2, 3}
43. Remove duplicates from [1, 2, 2, 3, 4, 3, 5]: [1, 2, 3, 4, 5]
44. Do [1, 2, 2, 3] and [3, 1, 2] have the same elements? True
    Do [1, 2, 3] and [1, 2, 4] have the same elements? False
45. Set of first 5 powers of 2: {1, 2, 4, 8, 16}
46. Common elements between {1, 2, 3, 4} and [3, 4, 5, 6]: {3, 4}
47. Set of first 5 triangular numbers: {1, 3, 6, 10, 15}
48. Does {1, 2, 3, 4, 5} contain {1, 2, 3} as a subset? True
    Does {1, 2, 3} contain {1, 2, 3, 4, 5} as a subset? False
49. Set of alternating 1s and 0s of length 10: {0, 1}
    Note: Sets only contain unique elements, so this will always be {0, 1} for n >= 2
50. Merge {1, 2, 3}, {3, 4, 5}, and {5, 6, 7}: {1, 2, 3, 4, 5, 6, 7}